---
// Import components
import CldImage from './CldImage.astro'
import GradientButton from './GradientButton.astro'

const { name, tech, description, src, width, height, alt } = Astro.props
const slug = name.replaceAll(/\s/g, '').toLowerCase()
---

<div class="container">
    <div class="project-text">
        <h3>{name}</h3>

        <p class="project-tech">{tech}</p>
        <p class="project-description">{description}</p>

        <GradientButton
            href={`/projects/${slug}`}
            width={'200px'}
            aspectRatio={'2.5 / 1'}
            color1={'#d53a9d'}
            color2={'#743ad5'}
            transitionDelayStart={'0.2s'}
            transitionDelayEnd={'0.4s'}
        >
            See Project Details
        </GradientButton>
    </div>

    <div class="project-image">
        <a href=`/projects/${slug}` class="project-link">
            <CldImage src={src} width={width} height={height} alt={alt} />
        </a>
    </div>
</div>

<style>
    .container {
        width: 100%;

        color: var(--main-color);
    }

    .project-text {
        padding-bottom: 2rem;
    }

    .project-text h3 {
        font-size: clamp(2.5rem, 5vw, 4rem);
        margin-top: -1rem;
    }

    .project-description {
        max-width: 60ch;

        padding: 1rem 0;
    }

    .project-link {
        display: block;
        color: inherit;
        text-decoration: none;
        cursor: pointer;
    }

    .project-link:link,
    .project-link:visited {
        color: inherit;
    }

    .project-link:focus,
    .project-link:hover,
    .project-link:active {
        color: rebeccapurple;
    }

    @media screen and (min-width: 768px) {
        .container {
            display: grid;
            grid-template: repeat(3, min-content) / repeat(auto-fit, minmax(10rem, auto));
            gap: 1rem;
        }

        .project-tech,
        .project-description {
            font-size: 1.25rem;
        }

        .project-description {
            grid-row-start: 2;
            padding: 2rem 0;
        }
        .project-image {
            grid-column-start: 2;
            grid-row: 1 / 3;
        }
    }
</style>
