---
// Component imports
import Project from './Project.astro'

// Data import
import { projectsData } from '../scripts/projectsData'
---

<section id="projects-section" class="projects-section">
    <div class="bg-grid"></div>
    <h2 class="title">Projects</h2>
    <div class="projects">
        {
            projectsData.map((proj) => (
                <Project
                    name={proj.name}
                    tech={proj.tech}
                    description={proj.description}
                    src={proj.image.src}
                    width={proj.image.width}
                    height={proj.image.height}
                    alt={proj.image.alt}
                />
            ))
        }
    </div>
</section>
<style>
    .projects-section {
        padding: 0 max(2rem, 50vw - 1200px / 2);

        position: relative;
        isolation: isolate;
    }

    .bg-grid {
        position: absolute;
        z-index: -1;
        inset: 0;

        opacity: var(--bg-grid-opacity);

        background-size: 20px 20px;
        background-position: center;

        background-image: linear-gradient(to right, var(--dark) 1px, transparent 1px),
            linear-gradient(to bottom, var(--dark) 1px, transparent 1px);

        image-rendering: pixelated;
        -webkit-mask-image: linear-gradient(
            to bottom,
            transparent,
            10%,
            var(--dark),
            90%,
            transparent
        );
        mask-image: linear-gradient(to bottom, transparent, 10%, var(--dark), 90%, transparent);
    }
    .title {
        font-size: clamp(2.5rem, 5vw, 4rem);
        padding: 3rem 0;
    }
    .projects {
        width: 100%;
        min-height: 100vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8rem;
    }

    .projects:last-child {
        padding-bottom: 8rem;
    }

    @media screen and (min-width: 768px) {
        .title {
            display: flex;
            justify-content: center;
        }
    }
</style>
