---
// Component imports
import Project from './Project.astro'

// Styles import
// import '../styles/global.css'

// Data import
import { projectsData } from '../scripts/projectsData'
---

<section id="projects-section">
    <h2 class="title">Projects</h2>
    <div class="projects">
        {
            projectsData.map((proj, index) => (
                <Project
                    projNum={index}
                    name={proj.name}
                    tech={proj.tech}
                    description={proj.description}
                    src={proj.src}
                    width={proj.width}
                    height={proj.height}
                    alt={proj.alt}
                />
            ))
        }
    </div>

    <style>
        .projects {
            width: 100%;
            min-height: 100vh;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 8rem;
        }
    </style>
</section>
