---
// Import components
import CldImage from './CldImage.astro'

// Styles import
import '../styles/global.css'

const { projNum, name, tech, description, src, width, height, alt } = Astro.props
const slug = name.replaceAll(/\s/g, '').toLowerCase()
---

<div class="container">
    <a href=`/projects/${slug}` class="project-link">
        <div class="container-text">
            <h3 class="project-title">Project {projNum}</h3>
            <p>{tech}</p>
        </div>
        <CldImage src={src} width={width} height={height} alt={alt} />
    </a>

    <p class="project-description">{description}</p>
</div>

<style>
    .container {
        width: 100%;

        color: var(--main-color);
    }

    .container-text {
        display: flex;
        justify-content: space-between;

        width: 100%;
        padding-bottom: 1rem;

        border: 1px olive dashed;
    }

    .project-link {
        color: inherit;
        text-decoration: none;

        &:link {
            color: inherit;
        }

        &:visited {
            color: inherit;
        }

        &:focus,
        &:hover,
        &:active {
            color: rebeccapurple;
        }

        /* &:hover {
            color: deeppink;
        }

        &:active {
            color: blue;
        } */
    }
    .project-title {
        font-size: 2.5rem;

        border: 1px red solid;
    }

    .project-description {
        max-width: 60ch;
        padding: 1rem;
    }
</style>
