---
// Layout import
import BaseLayout from '../../layouts/BaseLayout.astro'

// Component imports
import CldImage from '../../components/CldImage.astro'

// Data import
import { projectsData } from '../../scripts/projectsData'

export function getStaticPaths() {
    return projectsData.map((proj) => {
        return {
            params: { project: proj.name.replaceAll(/\s/g, '').toLowerCase() },
            props: { proj },
        }
    })
}

const { proj } = Astro.props
---

<BaseLayout pageTitle={proj.name}>
    <div class="container">
        <h1 class="project-title">{proj.name}</h1>

        {
            proj.longDescription.code.length > 0 && (
                <div class="link-container">
                    <a href={proj.longDescription.code} target="_blank">
                        code
                    </a>{' '}
                    <span>|</span>
                    <a href={proj.longDescription.site} target="_blank">
                        live site
                    </a>
                </div>
            )
        }

        <section>
            <p class="project-info">{proj.longDescription.intro}</p>
        </section>

        <CldImage src={proj.image.src} width={1400} height={700} alt={proj.image.alt} />

        <section>
            <h2 class="subtitle">Problems Encountered</h2>
            <p class="project-info">{proj.longDescription.problems}</p>
        </section>

        <section>
            <h2 class="subtitle">Lessons Learned</h2>
            <p class="project-info">{proj.longDescription.lessons}</p>
        </section>

        {
            !!proj.image2 && (
                <CldImage src={proj.image2.src} width={1400} height={700} alt={proj.image2.alt} />
            )
        }
    </div>
</BaseLayout>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        padding: 0 max(2rem, 50vw - 1200px / 2);

        padding-bottom: 8rem;
    }

    .project-title {
        padding-top: 4rem;

        font-size: clamp(2.5rem, 5vw, 4rem);

        text-align: center;
    }

    .subtitle {
        padding-top: 2rem;
        padding-bottom: 1rem;

        font-size: 2.5rem;
    }

    .project-info {
        max-width: 60ch;
        padding-top: 1rem;
        padding-bottom: 2rem;

        font-size: clamp(1.2rem, 5vw, 1.5rem);
    }

    .link-container {
        display: flex;
        justify-content: space-around;
    }

    span {
        padding: 0 1rem;
    }

    a {
        padding: 0 0.5rem;
        /* transition: translate ease 0.4s; */
    }

    a:after {
        content: '';
        display: block;
        margin: 0 auto;
        width: 90%;
        border-bottom: 2px solid var(--color2);

        transition: width ease 0.4s;
    }

    a:link,
    a:visited {
        color: inherit;
        text-decoration: none;
        text-transform: lowercase;
    }

    a:focus,
    a:hover {
        /* translate: 0 -2px;
        transition: translate ease 0.2s; */
    }

    a:focus:after,
    a:hover:after {
        width: 0%;
        transition: width ease 0.2s;
    }
</style>
