---
// Layout import
import BaseLayout from '../../layouts/BaseLayout.astro'

// Component imports
import CldImage from '../../components/CldImage.astro'

// Data import
import { projectsData } from '../../scripts/projectsData'

export function getStaticPaths() {
    return projectsData.map((proj) => {
        return {
            params: { project: proj.name.replaceAll(/\s/g, '').toLowerCase() },
            props: { proj },
        }
    })
}

const { proj } = Astro.props
---

<BaseLayout pageTitle={proj.name}>
    <div class="container">
        <h1 class="project-title">{proj.name}</h1>

        <a href={proj.longDescription.code}>GitHub</a> | <a href={proj.longDescription.site}>Site</a
        >

        <section>
            <p class="project-info">{proj.longDescription.intro}</p>
        </section>

        <CldImage src={proj.src} width={proj.width} height={proj.height} alt={proj.alt} />

        <section>
            <h2 class="subtitle">Problems Encountered</h2>
            <p class="project-info">{proj.longDescription.problems}</p>
        </section>

        <section>
            <h2 class="subtitle">Lessons Learned</h2>
            <p class="project-info">{proj.longDescription.lessons}</p>
        </section>
    </div>
</BaseLayout>

<style>
    .project-title {
        padding-top: 4rem;

        font-size: 2.5rem;
    }

    .subtitle {
        padding-top: 2rem;
        padding-bottom: 1rem;

        font-size: 2.5rem;
    }

    .project-info {
        max-width: 60ch;
        padding-top: 1rem;

        font-size: 1.2rem;
    }
</style>
