---
// Layout import
import BaseLayout from '../../layouts/BaseLayout.astro'

// Component imports
import CldImage from '../../components/CldImage.astro'

// Data import
import { projectsData } from '../../scripts/projectsData'

export function getStaticPaths() {
    return projectsData.map((proj) => {
        return {
            params: { project: proj.name.replaceAll(/\s/g, '').toLowerCase() },
            props: { proj },
        }
    })
}

const { proj } = Astro.props
---

<BaseLayout pageTitle={proj.name}>
    <div class="container">
        <h1 class="project-title">{proj.name}</h1>

        <div class="project-links">
            <a href={proj.longDescription.code}>GitHub</a> | <a href={proj.longDescription.site}
                >Site</a
            >
        </div>

        <section>
            <p class="project-info">{proj.longDescription.intro}</p>
        </section>

        <CldImage src={proj.src} width={1400} height={700} alt={proj.alt} />

        <section>
            <h2 class="subtitle">Problems Encountered</h2>
            <p class="project-info">{proj.longDescription.problems}</p>
        </section>

        <section>
            <h2 class="subtitle">Lessons Learned</h2>
            <p class="project-info">{proj.longDescription.lessons}</p>
        </section>
    </div>
</BaseLayout>

<style>
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        padding: 0 max(2rem, 50vw - 1200px / 2);
    }
    .project-title {
        padding-top: 4rem;

        font-size: clamp(2.5rem, 5vw, 4rem);

        text-align: center;
    }

    .subtitle {
        padding-top: 2rem;
        padding-bottom: 1rem;

        font-size: 2.5rem;
    }

    .project-info {
        max-width: 75ch;
        padding-top: 1rem;

        font-size: clamp(1.2rem, 5vw, 1.5rem);
    }
</style>
